body{
  
    color: #82a5ca;
    margin: 0px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}
.btn{
    font-family: 'Orbitron', sans-serif;
    padding: 6px 12px;
    background: #82a5ca;
    border: none;
    font-weight: bold;
}
#title{
    text-shadow: 0px 0px 4px black;
}
.underline{
    border-bottom: 4px solid #673640;
}

#hero{

    background-image: url("images/sp.gif");
    
    background-size: 100% 100%;
    
    padding: 20px 0px 60px 0px;
   
}
#main-logo{
    width: 150px;
    opacity: .3;
}